<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>People</title>
</head>
<body>

<div th:each="person : ${people}">

    <a th:href="@{/people/{id}(id=${person.getId()})}"
       th:text="${person.getName() + ', ' + person.getAge()}">user</a>

</div>

<br/>
<hr/>

<a href="/people/new">Create new person</a>

</body>
</html>